nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {
    max-width: 20vw;
    font-size: 16pt;
    white-space: nowrap;
}

nav a {
    color: rgb(165, 30, 30);
    transition: ease-in-out 300ms;
}

nav a:hover {
    color: rgb(245, 60, 60);
}

#php-styling-guide p {
    margin: 0;
    padding: 30px;
    font-size: 20pt;
}

#php-styling-guide code {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 0 5px;
}

#php-styling-guide li {
    margin: 0;
    padding: 0;
    font-size: 18pt;
}

h3 {
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}